.github
.DS_Store
**/.DS_Store
._*
**/._*
docs
kubernetes
node_modules
/.svelte-kit
/package
.env
.env.*
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
__pycache__
.idea
venv
_old
uploads
.ipynb_checkpoints
**/*.db
_test
backend/data/*
.git
.gitignore
Dockerfile
*.log
backend/data
backend/data/cache
dist
build
*.pyc